
body{
    margin: 10%;
}

p{
    font-size: 1.5rem; 
}

p:first-child{
    font-size: 1.8rem;
    text-align: center; 
}

.container{
    background-image: linear-gradient(to bottom right, yellow, orange);
    border: medium solid black;
    border-radius: 20px;
    margin: 10vh auto;
    padding: 5vh 10vw;
    max-width: 40vw;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.stopWatch{
  margin: 20px 0px;
  padding: 5px 40px;
  min-height: 30px;
  color: white;
  font-size: 1.5rem; 
  background-color: darkgray;
  border: thin solid white;
  border-radius: 20px;
}

.currentTime{
  font-size: 1.2rem;
  margin: 20px 0px;
  padding: 5px 0px;
}

.buttons{
    display: inline-flex;
}

.buttons>input{
padding: 10px 10px;
margin: 5px 2px;
border-radius: 20px;
}
